{% capture bb_checkout_link %}{% render 'bb', type: 'bb_checkout_link' %}{% endcapture %}

<form action="{% if bb_checkout_link != blank %}{{ bb_checkout_link }}{% else %}/cart{% endif %}" method="post" novalidate>
    <div class="cart">
        <div class="container">
            <div class="cart__inner">
                <div class="cart__header">
                    <h2 class="text-24 cart__title">My Cart</h2>
                    <button type="button" class="close_cart">{% render "icon-x" %}</button>
                </div>
                <div class="cart__items"></div>
                <div class="cart__bottom">
                    <div class="subtotal">
                        <div class="subtotal__title">Subtotal</div>
                        <p class="cart_item__total">$0</p>
                    </div>
                    <div class="tax">Tax and shipping calculates at checkout.</div>
                    <div class="affirm">
                        <img src="{{ " img-pdp-affirm.png" | asset_url}}" alt="afirm">
                        <a class="affirm_link" href="#!">pay as low as 56/mo Learn More</a>
                    </div>
                    <button class="btn--checkout" type="submit" name="checkout">Continue to Checkout</button>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="_cart" value="{{ cart | json | escape }}" />
    <input type="hidden" name="_shop" value="{{ shop.permanent_domain | escape }}" />
</form>