{{ 'style.customer.css' | asset_url | stylesheet_tag }}
<div class="container container--form">
  {% form 'reset_customer_password', class: "form" %}
  <h2 class="text-24 form__title form__title--recover">Reset Password</h2>
  <p class="error">Passwords don't match.</p>
  {{ form.errors | default_errors }}
  
  <label class="form__label" for="password">
    <input class="form__input pass" type="password" value="" name="customer[password]" size="16" required/>
    <span>Password</span>
  </label>
  <label class="form__label" for="password_confirmation">
    <input class="form__input check_pass" type="password" name="customer[password_confirmation]" size="16" required/>
    <span>Confirm Password</span>
  </label>
  
  <input type="submit" value="Reset Password" class="btn btn--black form__btn" />
  
  {% endform %}
</div>
<script src="{{ 'script.customer.js' | asset_url }}" defer></script>