<div class="pdp_bundle">
    <div class="container">
        <!-- this shows preset bundle on any page -->
        <!-- <div class="th_pb_section th_pb_specific_bundles" data-bundleid="90181"></div> -->

        <!-- this shows preset bundle on specific product page -->
        <div id="th_product_bundle" data-id="{{ product.id }}"></div>
    </div>
</div>