:root {
    --grey: #C4C4C4;
    --text-grey: #767676;
    --light-grey: #F8F8F8;
    --black: black;
    --white: white;
    --gold: #C2A578;
    --red: #DA0000;
    --green: #6FCF97;
    --footer-bg: #f1f1f1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 167.5%;
}

.container {
    width: 100%;
    margin: auto;
    padding: 0 4rem;
    max-width: 1440px;
}

.container-fluid {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}


.sm-visible {
    display: none;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

::-webkit-scrollbar {
    width: 4px;
    height: 2px;
}

::-webkit-scrollbar-track {
    background: #E5E5E5;
}

::-webkit-scrollbar-thumb {
    background: #7c7c7c;
}

::-webkit-scrollbar-thumb:hover {
    background: #363636;
}

.btn {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    color: var(--white);
    padding: 2.1rem 2.4rem;
    max-width: 44.2rem;
    border: 1px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 23.6rem;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

.btn--black {
    background-color: var(--black);
    padding: 1.3rem 0 1.4rem;
}

.btn:hover {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}

.btn--secondary {
    color: var(--black);
    border: 1px solid var(--black);
    background-color: var(--white);
}

.btn--secondary:hover {
    color: var(--white);
    background-color: var(--black);
}

.btn--secondary svg path {
    fill: var(--black);
}

.btn:hover svg path {
    fill: var(--black);
}

.btn--secondary:hover svg path {
    fill: var(--white);
}

.btn--disabled {
    background-color: var(--grey);
}

.btn--small {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    color: #000000;
    padding: 0 0 0.8rem;
    border-bottom: 1px solid var(--black);
    text-decoration: none;
    transition: 0.3s;
    display: inline-block;
}

.btn--small:hover {
    border-bottom: 1px solid transparent;
}

.grid-1 {
    grid-template-columns: repeat(1, 1fr);
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.error{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.685);
    padding-top: 10%;
    opacity: 0;
    transition: 0.4s;
    z-index: -3;
}
.error.active{
    z-index: 15;
    opacity: 1;
}

.error_box{
    width: 50%;
    margin: auto;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.897);
    border-left: 4px solid red;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 0 3rem;
}
.error_box__icon{
    width: 2rem;
    height: 2rem;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.error_box__icon path{
    fill: white;
}

.text-12 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 168%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.text-24 {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 130%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}


@media (min-width: 2080px) {
    .container {
        max-width: 1920px;
        padding: 0 8rem;
    }

    .container-fluid {
        max-width: 1920px;
    }
}

/* tablet */
@media (max-width: 768px) {
    .container {
        padding: 0 2.4rem;
    }
}

/* mobile */
@media (max-width: 450px) {
    .container {
        padding: 0 1.6rem;
    }

    .sm-visible {
        display: initial;
    }

    .sm-hidden {
        display: none;
    }
}

/* Bundle */
.bundle__wrapper {
    display: grid;
    grid-template-columns: 58.4% 1fr;
    gap: 0 8rem;
    margin-top: 5rem;
}

.product-box {
    /* border: 1px solid rgb(255, 0, 0); */
    padding: 1rem 0;
    margin-bottom: 2.4rem;
}

.product-box__title {
    margin-bottom: 1.2rem;
}

.product-box .product {
    padding: 3.5rem;
    display: grid;
    grid-template-columns: 6rem 1fr 20% 14rem;
    gap: 0 2.6rem;
    align-items: center;
    background-color: var(--footer-bg);
    margin-bottom: 1.2rem;
    position: relative;
}

.product__img {
    display: flex;
}

.product__img img {
    width: 100%;
    height: 9rem;
    object-fit: cover;
    background-color: var(--footer-bg);
}

.product__info__title {
    text-transform: uppercase;
    margin-bottom: 0.8rem;
}

.bundle_btn {
    position: absolute;
    right: 3.5rem;
    top: 50%;
    transform: translate(0, -50%);
    background: #000000;
    border-radius: 6.85714px;
    width: 14rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 3rem;
    cursor: pointer;
}

.product__info__light-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.08px;
    color: #3F3C38;
}

.product__qty form {
    position: absolute;
    right: 3.5rem;
    top: 50%;
    transform: translate(0, -50%);
    background: #000000;
    border-radius: 6.85714px;
    width: 14rem;
    height: 6rem;
    display: flex;
    align-items: center;
    color: var(--white);
    font-size: 2rem;
    user-select: none;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.product__qty button {
    font-size: 3rem;
    border: none;
    background-color: transparent;
    color: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.bundle__summary {
    height: 100vh;
    background-color: var(--footer-bg);
    padding: 7.5rem 4rem 0;
    position: sticky;
    top: 0;
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
}

.bundle-content__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #3F3C38;
}

.grid_wrapper {
    position: relative;
}

.bundle-content__grid {
    margin-top: 1.4rem;
    margin-bottom: 2.3rem;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #3F3C38;
}

.bundle_images {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 0;
}

.bundle-content__grid {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    gap: 1rem;
}
.bundle_item__wrapper{
    position: relative;
}
.bundle_item__wrapper:hover .bundle_item__title{
    opacity: 1;
}
.bundle_item__wrapper:hover .bundle_item__remove button{
    opacity: 1;
}
.bundle_item__title{
    opacity: 0;
    position: absolute;
    transition: 0.4s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: normal;
    text-transform: capitalize;
    background-color: var(--light-grey);
    border-radius: 0.8rem;
    cursor: grab;
    border: 1px solid rgb(37, 219, 0);
}
.bundle_item__remove button{
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 0;
    right: 0;
    transform: translate(0, -50%);
    background-color: var(--red);
    border: none;
    border-radius: 50%;
    color: white;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
}
.bundle_box {
    width: 100%;
    background-color: white;
    height: 8.2rem;
    border-radius: 0.8rem;
    overflow: hidden;
}

.bundle_box.last {
    background-color: transparent;
    border: 1px solid black;
}

.bundle_box img {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(37, 219, 0);
    border-radius: inherit;
    object-fit: cover;
}

.bundle-builder--add-to-cart-form {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.bundle_add_to_cart {
    background-color: black;
    padding: 3.5rem 0;
    color: white;
    text-transform: uppercase;
    font-size: 2.4rem;
    text-align: center;
    width: 100%;
    cursor: pointer;
    position: relative;
}

.bundle_add_to_cart .item_count {
    position: absolute;
    left: 1.6rem;
    top: 50%;
    transform: translate(0, -50%);
}

.bundle__wrapper [disabled="disabled"] {
    cursor: not-allowed;
}

.bundle__errors {
    list-style: none;
}

.bundle__error {
    color: var(--red);
}
