:root {
    --grey: #C4C4C4;
    --text-grey: #767676;
    --light-grey: #F8F8F8;
    --black: black;
    --white: white;
    --gold: #C2A578;
    --red: #DA0000;
    --green: #6FCF97;
    --footer-bg: #f1f1f1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 167.5%;
}

.container {
    width: 100%;
    margin: auto;
    padding: 0 4rem;
    max-width: 1440px;
}

.container-fluid {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}


.sm-visible {
    display: none;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

::-webkit-scrollbar {
    width: 4px;
    height: 2px;
}

::-webkit-scrollbar-track {
    background: #E5E5E5;
}

::-webkit-scrollbar-thumb {
    background: #7c7c7c;
}

::-webkit-scrollbar-thumb:hover {
    background: #363636;
}

.btn {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    color: var(--white);
    padding: 2.1rem 2.4rem;
    max-width: 44.2rem;
    border: 1px solid var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 23.6rem;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}
.btn--black{
    background-color: var(--black);
    padding: 1.3rem 0 1.4rem;
}

.btn:hover {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}

.btn--secondary {
    color: var(--black);
    border: 1px solid var(--black);
    background-color: var(--white);
}

.btn--secondary:hover {
    color: var(--white);
    background-color: var(--black);
}

.btn--secondary svg path {
    fill: var(--black);
}

.btn:hover svg path {
    fill: var(--black);
}

.btn--secondary:hover svg path {
    fill: var(--white);
}

.btn--disabled {
    background-color: var(--grey);
}

.btn--small {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    color: #000000;
    padding: 0 0 0.8rem;
    border-bottom: 1px solid var(--black);
    text-decoration: none;
    transition: 0.3s;
    display: inline-block;
}

.btn--small:hover {
    border-bottom: 1px solid transparent;
}

.grid-1 {
    grid-template-columns: repeat(1, 1fr);
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.nav__logo {
    position: absolute;
    left: 0;
}

.nav__logo a {
    display: flex;
    align-items: center;
}

.nav__auth {
    position: absolute;
    display: flex;
    right: 0;
    gap: 1.6rem;
}

.nav__auth a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--black);
}

.nav__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 0;
    z-index: 3;
}

.nav__logo--dark svg * {
    fill: black;
}

.nav__links {
    display: flex;
    list-style: none;
    justify-content: center;
    width: 100%;
    gap: 4rem;
}

.nav__link {
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    color: var(--black);
    text-decoration: none;
}

.template-index .nav__inner {
    margin-bottom: -5.538rem;
}

.template-index .nav__link {
    color: var(--white);
}

body:not(.template-index) .nav__auth path {
    stroke: black;
}

footer {
    padding: 8rem 0 2.4rem;
    background-color: #f1f1f1;
    position: relative;
}

.footer__inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0 1.6rem;
}

.footer__row {
    display: flex;
    justify-content: space-around;
    gap: 1.6rem;
    grid-column: 7 / -1;
}

.footer__form {
    grid-column: 2 / 7;
    z-index: 2;
}

.footer__links {
    list-style: none;
}

.footer__link {
    color: #7E7E7E;
    text-decoration: none;
    margin-bottom: 1.2rem;
    display: inline-block;
}

.footer__link__title {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: 0.165em;
    text-transform: uppercase;
    color: #353535;
    margin-bottom: 3rem;
}

.footer__input__wrapper {
    padding-bottom: 1.6rem;
    border-bottom: 1px solid var(--grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 46rem;
}

.footer__input {
    font-size: inherit;
    line-height: 141.8%;
    color: var(--black);
    opacity: 0.5;
    flex-grow: 1;
    border: none;
    outline: none;
    background-color: transparent;
}

.footer__btn {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.footer__btn svg path {
    fill: var(--black);
}

.footer__social {
    display: flex;
    gap: 1.6rem;
    margin-top: 2.6rem;
}

.footer__social a {
    text-decoration: none;
}

.AF_logo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    z-index: 0;
}

.copyright {
    text-align: center;
    margin-top: 5.8rem;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 167.5%;
    color: var(--grey);
}

.text-12 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 168%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.text-24 {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 130%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.cart {
    max-width: 48rem;
    width: 100%;
    height: 100vh;
    background-color: var(--white);
    position: fixed;
    top: 0;
    right: -100vw;
    transition: 1s;
    z-index: 6;
    border-left: 1px solid rgba(0, 0, 0, 0.308);
}

.cart__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding-bottom: 4rem;
    position: relative;
}

.cart.active {
    right: 0;
    top: 0;
    transition: 0.3s;
}

.cart__header {
    padding: 2.5rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--footer-bg);
}

.cart__title {
    font-weight: 400;
}

.close_cart {
    border: none;
    background: transparent;
    cursor: pointer;
    width: 1.6rem;
}

.close_cart svg {
    width: 100%;
    height: 1.6rem;
}

.empty_cart {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    text-align: center;
}

.empty_cart p {
    font-size: 1.6rem;
    line-height: 167.5%;
    margin-bottom: 1rem;
}
.empty_cart .btn{
    width: 100%;
    max-width: 100%;
    justify-content: center;
}
.cart_item {
    padding: 1.6rem;
    display: grid;
    gap: 0 1.6rem;
    grid-template-columns: 12rem 1fr auto;
    grid-template-rows: 15rem;
    border-bottom: 1px solid var(--footer-bg);
    font-size: 1.2rem;
}

.cart_item__left img {
    width: 100%;
    max-height: 15rem;
}

.cart_item__center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 3.7rem;
}

.cart_item__center__top {
    display: flex;
    flex-direction: column;
    gap: 0.8rem 0;
}

.cart_item__right {
    padding-top: 3.7rem;
    padding-bottom: 0.5rem;
}

.cart_item__counters {
    margin-bottom: 0.5rem;
    display: flex;
    max-width: 7rem;
    align-items: center;
    justify-content: space-between;
}

.cart_item__counter {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.cart_item__counter svg {
    pointer-events: none;
}

.cart_item__counter.not_allowed {
    cursor: not-allowed;
}

.cart_item__remove {
    width: 2.4rem;
    height: 2.4rem;
    border: 1px solid var(--footer-bg);
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    float: right;
    transition: 0.4s;
}

.cart_item__remove:hover {
    border: 1px solid var(--black);
}

.cart_item__remove svg {
    pointer-events: none;
}

.subtotal {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tax {
    margin: 1.1rem 0 1.6rem 0;
}

.affirm_link {
    color: var(--black);
    display: inline-block;
    margin-left: 0.8rem;
    text-decoration: none;
}

.btn--checkout {
    width: 100%;
    background-color: var(--black);
    border: none;
    color: var(--white);
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    padding: 1.4rem 0;
    margin-top: 2.5rem;
}

@media (min-width: 2080px) {
    .container {
        max-width: 1920px;
        padding: 0 8rem;
    }

    .container-fluid {
        max-width: 1920px;
    }
}

/* tablet */
@media (max-width: 768px) {
    .container {
        padding: 0 2.4rem;
    }
}

/* mobile */
@media (max-width: 450px) {
    .container {
        padding: 0 1.6rem;
    }

    .sm-visible {
        display: initial;
    }

    .sm-hidden {
        display: none;
    }
}