header {
    height: calc(100vh - 40px);
    position: relative;
    left: 0;
    right: 0;
}

.hero {
    position: absolute;
    bottom: 4rem;
    color: white;
    z-index: 3;
}

.hero__title {
    font-weight: 700;
    font-size: 6rem;
    line-height: 130%;
    letter-spacing: 0.24em;
    text-transform: uppercase;
    width: 50%;
}
.hero__text{
    margin: 2.4rem 0 4rem;
}