.nav__logo a {
    display: flex;
    align-items: center;
}

.nav__auth {
    display: flex;
    gap: 1.6rem;
}

.nav__auth a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--black);
}
nav .account{
    position: relative;
    padding: 0;
    margin: 0;
}
.account:hover .account__links{
    transform: scale(1);
}
.account__links{
    position: absolute;
    top: 2rem;
    transform: scale(0);
    left: -4rem;
    transition: 0.4s;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
.template-index .account__links{
    background-color: black;
}
.nav__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 0;
    z-index: 3;
}

.nav__logo--dark svg * {
    fill: black;
}

.nav__links {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 4rem;
}

.nav__link {
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.175em;
    text-transform: uppercase;
    color: var(--black);
    text-decoration: none;
}

.template-index .nav__inner {
    margin-bottom: -5.538rem;
}

.template-index .nav__link {
    color: var(--white);
}

.template-index .nav__auth a {
    color: var(--white);
}

body:not(.template-index) .nav__auth path {
    stroke: black;
}