.collections {
    margin-top: 9.5rem;
}

.mySwiper {
    overflow-x: hidden;
    position: relative;
}

.collection {
    text-align: center;
    display: block;
    text-decoration: none;
    user-select: none;
}
.collection:hover img{
    transition: 0.5s;
    transform: scale(1.05);
}
.collection:hover .collection__title .arrow{
    transform: translate(0);
    opacity: 1;
}

.collection img {
    width: 100%;
}

.collection__title {
    margin: 0.8rem 0 4rem;
}

.swiper-scrollbar{
    position: relative !important;
    height: 2px;
}
.collection__title .arrow{
    transition: 0.5s;
    margin-left: 9px;
    display: inline-block;
    opacity: 0;
    transform: translate(-1rem);
}
.collection__title .arrow path{
    fill: var(--black);
}